h1 { 
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
    font-style: italic;
    margin: .3em 0px;
}

.fandom {
    font-weight: bold;
}

.pairing {
    font-style: italic;
}

.word-count, .pairing, .fandom {
    margin: 0px;
}

.content {
    padding: 1em;
}

.text-muted {
    color: #ccc;
}

.content p, h2, .buttons {
    font-family: 'Open Sans', sans-serif;
}


.content h2 {
    font-size: 1.75em;
}

.fic-summary {
    margin: 3em 0px;
}

#top-menu {
    font-family: 'Open Sans', sans-serif;
}

.buttons {
    clear: both;
}
