h1 { 
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
    font-style: italic;
    margin: .3em 0px;
    text-transform: uppercase;
}

.fandom {
    font-weight: bold;
}

.pairing {
    font-style: italic;
}

.word-count, .pairing, .fandom {
    margin: 0px;
}

.content {
    padding: 1em;
}

.text-muted {
    color: #ccc;
}

.content p, .buttons {
    font-family: 'Open Sans', sans-serif;
}


.content h2 {
    font-size: 1.8em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .15em;

}

.fic-summary {
    margin: 3em 0px;
}

#top-menu {
    font-family: 'Open Sans', sans-serif;
}

.buttons {
    clear: both;
}

.buttons .fa {
    line-height: 1;
}
