h1 { 
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    margin: 0em 0em .3em 0em;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
}

.header-icon {
    text-align: center;
    font-size: 2.9em;
}

.fandom {
    font-weight: bold;
}

.site-summary {
    text-align: center;
}

.pairing {
    font-style: italic;
}

.word-count, .pairing, .fandom {
    margin: 0px;
}

.content {
    padding: 1em;
}

.text-muted {
    color: #ccc;
}

.content p, .buttons {
    font-family: 'Open Sans', sans-serif;
}


.content h2 {
    font-size: 1.8em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .06em;
    margin: 0.3em 0em;
}

.fic-summary {
    margin: 3em 0px;
}

#top-menu {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.buttons {
    clear: both;
}

.buttons .fa {
    line-height: 1;
}
