---
layout: projects
title: thedeadparrot's fic projects
---
<h1>{{site.name}}</h1>
<p>{{site.summary|markdownify}}</p>
{% for post in site.posts %}
<div class="pure-g-r fic-summary">
    <div class="pure-u-1">
        <h2>{{ post.title }}</h2>
        <i class="icon-chevron-right pull-left icon-muted icon-4x"></i>
        <p class="fandom">
        {{ post.fandom }}
        </p>
        <p class="pairing">
        {{ post.pairing}}
        </p>
        <p class="word-count">
        {{ post.wordcount }}
        </p>
        <p class="summary">
        {{ post.content }}
        </p>
        <div class="buttons">
            {% if post.read_url %}
            <a class="pure-button" href="{{post.read_url}}"><i class="icon-book pull-left icon-fixed-width icon-large"></i> Read Story</a>
            {% endif %}
            {% if post.source_url %}
            <a class="pure-button" href="{{post.source_url}}"><i class="icon-file-alt pull-left icon-large icon-fixed-width"></i> View Source</a>
            {% endif %}
            {% if post.comment_url %}
            <a class="pure-button" href="{{post.comment_url}}"><i class="icon-comments pull-left icon-large icon-fixed-width"></i> Comment</a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
