<!doctype html>
<html>
  <head>
      <title>{{page.title}}</title>
    <link rel="stylesheet" href="css/pure-min.css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,800italic|Montserrat:700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
    <link href='css/page.css' rel='stylesheet'>
  </head>
  <body>
    <div class="pure-g-r">
        <div class="pure-u-1-5"> 
        </div>
        <div class="pure-u-3-5">
            <div id="top-menu" class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
                <li><a href="https://github.com/thedeadparrot/fic-projects">Github</a></li>
                <li><a href="https://thedeadparrot.dreamwidth.org/">Dreamwidth</a></li>
                <li><a href="https://archiveofourown.org/users/thedeadparrot">Archive of Our Own</a></li>
                <li><a href="https://thedeadparrot.tumblr.com/">Tumblr</a></li>
		<li><a href="https://fanglitch.space/@thedeadparrot">Mastodon</a>
            </ul>
            </div>
            <div class="content">
                {{content}}
            </div>
        </div>
    </div>
</body>
</html>
